<ion-header>
    <ion-toolbar>
      <ion-title class="title">
        Purchse History
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

      <ion-grid>
        <ion-row>
         
    
          <ion-card *ngFor="let b of bookings">
            <ion-card-header>
              <ion-card-subtitle> {{b.movie_name}}</ion-card-subtitle>
              <ion-card-subtitle>Theater : {{b.theatre}}- </ion-card-subtitle>
              <ion-card-subtitle>Date : {{b.movie_date |  date: 'dd/MM/yyyy'}}</ion-card-subtitle>
    
              <ion-card-subtitle>Tickets : {{b.tickets}}</ion-card-subtitle>
    
            </ion-card-header>
          
             <!-- <ion-card-content>
              {{b.id}}.{{b.movie_name}}
              Theater : {{b.theatre}}
              Date : {{b.movie_date}}
              Tickets : {{b.tickets}}
            
            </ion-card-content> -->
          </ion-card>
    
    
        </ion-row>
      </ion-grid>
    </ion-content>
    