<!-- <ion-header>
<ion-toolbar>
    <ion-title>
        Log in
        <ion-img class="img1" src="assets/circle.png"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-item lines="none">
  <ion-header>Log In</ion-header>
  <ion-img class="img1" src="assets/circle.png"></ion-img>
</ion-item>
<ion-content class="content">
    <ion-img align="center" class="img2" src="assets/logo-2.jpg"></ion-img>
    <ion-card>
        <ion-item class="item">
            <ion-label position="floating">Phone</ion-label>
            <ion-input type="text" [(ngModel)]="customer.phone"></ion-input>
        </ion-item>
        <ion-item class="item">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="customer.password"></ion-input>
        </ion-item>
        <ion-label class="text" (click)="forgot()">Forgot Password ?</ion-label>
        <ion-item class="item1" lines="none">
            <ion-button color="success" (click)="login(customer)">Login</ion-button>
        </ion-item><br/>
        <ion-label class="text1">New Here?&nbsp;<span class="span" (click)="signup()">Sign Up</span> </ion-label>
    </ion-card>
  </ion-content>

  <ion-footer lines="none" fullscreen="true">
        <ion-img src="assets/footer-background.png"></ion-img>
    </ion-footer>
 
