
.img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
}
ion-item{
    padding: 10px;
}
ion-toolbar{
    --background:#398101;
  }
  .title{
    color: #fff;
    font-weight: bold;
  }