<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img class="img" src="../assets/profile.png"></ion-img>
    <ion-item>
      <ion-label (click)="login()">Login/SignUp</ion-label>
    </ion-item>
    <ion-item>
        <ion-label (click)="login()">Offers</ion-label>
      </ion-item>
      <ion-item>
          <ion-label (click)="notification()">Notifications</ion-label>
        </ion-item>
        <ion-item>
            <ion-label (click)="purchase()">Purchse History</ion-label>
          </ion-item>
          <ion-item>
              <ion-label (click)="login()">Food and Beverages</ion-label>
            </ion-item>
            <ion-item>
                <ion-label (click)="login()">Gift Cards</ion-label>
              </ion-item>
  </ion-content>
