
ion-header{
    text-align: center;
    color: #000;
    margin-top: 30px;
    z-index: 2;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.img1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 25px;
    left: 10px;
}
.img2{
    width: 200px;
    display: block;
    margin: 0px auto;
    z-index: -1;
}
.content{
    top:20px;
}
.img3{
    width: 100px;
    height: 100px;
    display: block;
    margin: 0px auto;
}
ion-card{
    border-radius: 0%;
    width: 90%;
    display: block;
    margin: 0px auto;
    top: 30px;
    box-shadow: 2px 2px 18px #2a4219;
}
.item{
    display: block;
    margin: 0px auto;
    padding: 5px;
}
.item1{
    display: block;
    margin: 0px auto;
}
ion-button{
    width: 180px;
    height: 40px;
    display: block;
    margin: 0px auto;
    font-weight: bold;
    font-size: 20px;
    border-radius: 40%;
    // background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.7) 51%);
}
.text{
    color: #398101;
    margin-top: 30px;
    padding: 30px;
    font-size: 18px;
}
.text1{
    color: #000;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    display: block;
}
.span{
    color: #398101;
}