<ion-item lines="none">
    <ion-header>Sign Up</ion-header>
  </ion-item>
  <ion-content class="content">
      <ion-card>
            <ion-item class="item">
                    <ion-label position="floating">Name</ion-label>
                    <ion-input type="text" [(ngModel)]="customer.name"></ion-input>
                </ion-item>
          <ion-item class="item">
              <ion-label position="floating">Email</ion-label>
              <ion-input type="text" [(ngModel)]="customer.email"></ion-input>
          </ion-item>
          <ion-item class="item">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" [(ngModel)]="customer.password"></ion-input>
          </ion-item>
          <ion-item class="item">
            <ion-label position="floating">Phone</ion-label>
            <ion-input type="text" [(ngModel)]="customer.phone"></ion-input>
        </ion-item> 
          <ion-item class="item">
                <ion-label position="floating">Address</ion-label>
                <ion-input type="text" [(ngModel)]="customer.address"></ion-input>
              </ion-item>
          <ion-item class="item1" lines="none">
              <ion-button color="success" (click)="signUp()">Signup</ion-button>
          </ion-item><br/>
              <ion-label class="text">Or Sign up using</ion-label>
              <ion-icon style="width:20px; height: 20px;" color="primary" name="logo-facebook"></ion-icon>&nbsp;
              <ion-icon style="width:20px; height: 20px;" color="primary" name="logo-twitter"></ion-icon>       
          <ion-label class="text1">Already a member?&nbsp;<span class="span" (click)="login()">Log in</span>
          </ion-label>
      </ion-card>
    </ion-content>
  
    <ion-footer lines="none" fullscreen="true">
          <ion-img style="z-index:-1" src="assets/footer-background.png"></ion-img>
      </ion-footer>